{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "plugin:@next/next/recommended",
    "next/core-web-vitals"
  ],
  "rules": {
    "react/no-unescaped-entities": 0
  }
}