.header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  flex-direction: column;
}

.branding_link {
  color: var(--black);
  text-decoration: none;
}

.title {
  font-variation-settings: "wght" 400;
  margin: 0;
  transition: all 0.25s linear;

  &:hover {
    font-variation-settings: "wght" 700;
    transition: all 0.25s linear;
  }
}

.subtitle {
  margin: 0;
  color: var(--gray-60);
  font-weight: 300;
}
