.link {
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--gray-20);
  border-radius: 6px;
  color: var(--black);
  display: flex;
  font-size: 0.8em;
  grid-gap: 7px;
  line-height: 1.5;
  padding: 1px 7px;
  text-decoration: none;

  &:hover {
    background-color: var(--gray-20);
  }
}

.icon {
  height: 10px;
  width: 10px;
}
