.coming-soon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.coming-soon {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  text-align: center;
}
